*{
    margin: 0;
    padding: 0;
}
:root{
    --button-colour:#d5e9a2;
    --button-text:#172b2b;
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin: 12% 40%;
    width: fit-content;
    background-color: rgb(117, 172, 172);
    padding: 20px;
    border-radius: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 0;
    gap:5px;
}
.com{
    text-align: center;
    background-color: var(--button-colour);
    color: var(--button-text);
    border-radius: 50px;
    box-shadow: 2px 2px black;

}
.com:active{
    box-shadow: 0px 0px;
}
#one{
    grid-column: 1;
}
#two{
    grid-column: 2;
}
#three{
    grid-column: 3;
}
#four{
    grid-column: 1;
    grid-row: 2;
}
#five{
    grid-column: 2;
    grid-row: 2;
}
#six{
    grid-column: 3;
    grid-row: 2;
}
#seven{
    grid-column: 1;
    grid-row: 3;
}
#eight{
    grid-column: 2;
    grid-row: 3;
}
#nine{
    grid-column: 3;
    grid-row: 3;
}
#ten{
    grid-column: 1/4;
    grid-row: 4;
}
#plus{
    grid-column: 1;
    grid-row: 5;
}
#sub{
    grid-column: 2;
    grid-row: 5;
}
#mul{
    grid-column: 1;
    grid-row: 6;
}
#div{
    grid-column: 2;
    grid-row: 6;
}
#equ{
    grid-column: 3;
    grid-row:5/7;
    align-self: center;
    padding: 10px;
}
#windowW{
    background-color: antiquewhite;
    width:200px;
    height: 50px;
    border-radius: 16px;
    position: relative;
}
#window{
    width: fit-content;
    position:absolute;
    top: 30%;
    right: 45%;
}
