*{
    margin: 0;
    padding: 0;
}
:root{
    --button-colour:rgb(213, 233, 162);
    --button-text:rgb(23, 43, 43);
}
.wrapper{
    display: flex;
    flex-direction: column;
    margin: 12% 40%;
    width: fit-content;
    background-color: rgb(117, 172, 172);
    padding: 20px;
    border-radius: 16px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 0;
    gap:5px;
}
.com{
    text-align: center;
    background-color: var(--button-colour);
    color: rgb(23, 43, 43);
    border-radius: 50px;
}
.one{
    grid-column: 1;
}
.two{
    grid-column: 2;
}
.three{
    grid-column: 3;
}
.four{
    grid-column: 1;
    grid-row: 2;
}
.five{
    grid-column: 2;
    grid-row: 2;
}
.six{
    grid-column: 3;
    grid-row: 2;
}
.seven{
    grid-column: 1;
    grid-row: 3;
}
.eight{
    grid-column: 2;
    grid-row: 3;
}
.nine{
    grid-column: 3;
    grid-row: 3;
}
.ten{
    grid-column: 1/4;
    grid-row: 4;
}
.plus{
    grid-column: 1;
    grid-row: 5;
}
.sub{
    grid-column: 2;
    grid-row: 5;
}
.mul{
    grid-column: 1;
    grid-row: 6;
}
.div{
    grid-column: 2;
    grid-row: 6;
}
.equ{
    grid-column: 3;
    grid-row:5/7;
    align-self: center;
    padding: 10px;
}
